title {
  margin: auto
}

main>* {
  margin: 15px
}

body {
  background-color: white;
  width: 960px;
  margin: auto;
  border: 1px solid black;
}

p {
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  margin: 20px;
} 

ol {
  list-style: lower-roman;
  margin: 60px;
  list-style: center;
  text-align: left;
  text-indent: 10px;
  text-shadow: grey 2px 2px 2px;
  border-radius: 5px;
}

ul {
 list-style: disc;
 list-style-position: inside;
 margin: 50px;
 text-shadow: grey 2px 2px 2px;
}

footer {
  text-align: center;
  text-shadow: grey 2px 2px 2px;
}

goals {
  background-color: cadetblue;
}